
<body>
<header>
    <h1>Currency Converter</h1>
  
  
</header>
<main>
    <div><label>Name:  <input name="name" id="name" /></label></div>
    <div><label>Price: <input name="price" id="price"/></label></div>
   
    <div> <input id="btnConvert" type="button" value="Convert" /></div>

    <div id="nameDiv"></div>
    <div id="priceDiv"></div>


   

</main>

</body>


